<div class="w-100-p">
  <div class="noc-annoton-table-body w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
    <div class="annoton-table" fxFlex="">
      <mat-table class="w-100-p" #table [dataSource]="grid" matSort [@animateStagger]="{value:'50'}"
        noctuaPerfectScrollbar>
        <ng-container cdkColumnDef="relationship">
          <mat-header-cell *cdkHeaderCellDef fxFlex="120px">Relationship</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="120px">
            <p class="">{{entity.relationship}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="aspect">
          <mat-header-cell *cdkHeaderCellDef fxFlex="50px">Asp</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="50px">
            <p class="">{{entity.aspect}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="term">
          <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Term</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="150px">
            <p class="">{{entity.term?.label}}</p>
            <button mat-icon-button matSuffix class="noc-evidence-db-trigger" [matMenuTriggerFor]="evidenceDBMenu"
              [matMenuTriggerData]="{evidence: 'evidence', name: 'reference'}">
              <mat-icon>playlist_add</mat-icon>
            </button>
            <noctua-search-bar fxFlex="60" class="noc-search-bar" (input)="search($event)"></noctua-search-bar>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="relationshipExt">
          <mat-header-cell *cdkHeaderCellDef fxFlex="120px">Relationship (ext)</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="120px">
            <p class="">{{entity.relationshipExt}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="extension">
          <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Extension</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="150px">
            <p class="">{{entity.extension?.label}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="evidence">
          <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Evidence</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="150px">
            <p class="">{{entity.evidence?.label}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="reference">
          <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Reference</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="150px">
            <p class="">{{entity.reference}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="with">
          <mat-header-cell *cdkHeaderCellDef fxFlex="120px">With</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="150px">
            <p class="">{{entity.with}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="assignedBy">
          <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Assigned By</mat-header-cell>
          <mat-cell *cdkCellDef="let entity" fxFlex="150px">
            <a href="{{entity.assignedBy?.url}}" class="" target="_blank">{{entity.assignedBy?.label}}</a>
          </mat-cell>
        </ng-container>
        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let entity; columns: displayedColumns;" class="" matRipple
          [ngClass]="{'noc-row-selected': entity.node.uuid === noctuaAnnotonEntityService.termNode?.uuid}"></mat-row>
      </mat-table>
      <div *ngIf="grid?.length===0" class="noc-no-info">
        no results yet.
      </div>
    </div>
  </div>
</div>
<mat-menu #evidenceDBMenu="matMenu" class="noc-evidence-db-menu" xPosition="before">
  <ng-template matMenuContent let-evidence="evidence" let-name="name">
    <form (ngSubmit)="onSubmitEvidedenceDb(evidence, name)" novalidate (click)="$event.stopPropagation()"
      class="pl-8 pr-8 w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="outline" class="noc-sm w-100-p">
        <mat-label>Evidence</mat-label>
        <textarea type="text" matInput [matAutocomplete]="evidenceAuto" rows="2"></textarea>
        <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn"
          class="noc-term-autocomplete">
          <mat-option *ngFor="let item of entity?.predicate?.evidence[i]?.evidenceLookup.results" [value]="item">
            <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div class="noc-term-label">
                {{ item.label }}
              </div>
              <span fxFlex></span>
              <div class="noc-term-id">
                {{ item.id }}
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-icon-button (click)="cancelEvidenceDb()">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button (click)="onSubmitEvidedenceDb(evidence, name)">
        <mat-icon>check_circle</mat-icon>
      </button>
    </form>
  </ng-template>
</mat-menu>
