@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  padding: 0px;
  width: 100%;


  .noc-review-changes-table {
    @include deep-width(400px);
  }

  .noc-summary-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 101px;
    margin-bottom: 4px;
    padding: 0 10px 0 20px;
    @include deep-height(40px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat-elevation(2);


    .noc-art-tools {
      //background-color: ;
      margin-right: 16px;
    }

    .noc-pagesize-select {
      width: 50px;
    }

    mat-chip {
      font-size: 14px;
      font-weight: normal;
      @include deep-height(30px);
    }

  }

  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    border-bottom: #BBB solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
