<div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start start">
  <div class="noc-summary-bar" fxLayout="row" fxLayoutAlign="start center">
    <div class="noc-summary-bar-section noc-br mr-12 pr-12" fxLayout="row" fxLayoutAlign="start center">
      <div class="h-100-p" *ngIf="cam.title; else noCamTitle" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-label noc-cam-title">
          <div class="text-truncate">
            {{cam.title}}
          </div>
        </div>
        <button mat-stroked-button (click)="openCamForm(annoton)" color="primary"
          class="ml-8 noc-rounded-button noc-xxs">
          Edit Title
        </button>
      </div>
      <ng-template #noCamTitle>
        <div class="h-100-p" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-description">
            <small>No Title Yet</small>
          </div>
          <button mat-stroked-button (click)="openCamForm(annoton)" color="primary"
            class="ml-8 noc-rounded-button noc-xxs">
            Add Title
          </button>
        </div>
      </ng-template>
    </div>
    <div class="noc-summary-bar-section noc-br">
      <span class="noc-section-label">
        State:
      </span>
      <button mat-stroked-button (click)="openCamForm()" color="primary" class="noc-rounded-button noc-sm ml-4 mr-8">
        {{cam?.state?.label}}
      </button>
    </div>
    <span fxFlex></span>
    <div [ngSwitch]="noctuaFormService.selectedMiddlePanel.id">
      <button mat-button class="" *ngSwitchCase="noctuaFormService.panel.camTable.id"
        (click)="noctuaFormService.openMiddlePanel(noctuaFormService.panel.camPreview)" matTooltip="Search"
        [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500"
        [ngClass]="{'noc-active':noctuaFormService.selectedMiddlePanel.id===noctuaFormService.panel.camDiagram.id}">
        <mat-icon> scatter_plot </mat-icon>
      </button>
      <button mat-button class="" *ngSwitchCase="noctuaFormService.panel.camPreview.id"
        (click)="noctuaFormService.openMiddlePanel(noctuaFormService.panel.camTable)" matTooltip="Search"
        [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500"
        [ngClass]="{'noc-active':noctuaFormService.selectedMiddlePanel.id===noctuaFormService.panel.camTable.id}">
        <mat-icon> table_chart </mat-icon>
      </button>
    </div>
  </div>
  <mat-drawer-container class="noc-drawer-container w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start"
    autosize>
    <mat-drawer #leftDrawer class="noc-left-drawer" mode="side" position="start">
      <div [ngSwitch]="noctuaFormService.selectedLeftPanel?.id" class="h-100-p">
        <noc-cam-form [panelDrawer]="leftDrawer" *ngSwitchCase="noctuaFormService.panel.camForm.id">
        </noc-cam-form>
        <noc-annoton-form [panelDrawer]="leftDrawer" *ngSwitchCase="noctuaFormService.panel.annotonForm.id">
        </noc-annoton-form>
        <noc-annoton-entity-form [panelDrawer]="leftDrawer"
          *ngSwitchCase="noctuaFormService.panel.annotonEntityForm.id"></noc-annoton-entity-form>
        <noc-annoton-connector [panelDrawer]="leftDrawer" *ngSwitchCase="noctuaFormService.panel.connectorForm.id">
        </noc-annoton-connector>
      </div>
    </mat-drawer>
    <mat-drawer-content class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
      <div [ngSwitch]="noctuaFormService.selectedMiddlePanel.id" class="w-100-p h-100-p" noctuaPerfectScrollbar>
        <noc-cam-preview *ngSwitchCase="noctuaFormService.panel.camPreview.id" [cam]="cam"></noc-cam-preview>
        <noc-cam-table *ngSwitchCase="noctuaFormService.panel.camTable.id" [cam]="cam"></noc-cam-table>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="noc-right-drawer" mode="side" position="end">
      <div [ngSwitch]="noctuaFormService.selectedRightPanel?.id" class="h-100-p">
        <noc-cam-form [panelDrawer]="rightDrawer" *ngSwitchCase="noctuaFormService.panel.camForm.id">
        </noc-cam-form>
        <noc-annoton-form [panelDrawer]="rightDrawer" *ngSwitchCase="noctuaFormService.panel.annotonForm.id">
        </noc-annoton-form>
        <noc-annoton-entity-form [panelDrawer]="rightDrawer"
          *ngSwitchCase="noctuaFormService.panel.annotonEntityForm.id"></noc-annoton-entity-form>
        <noc-annoton-connector [panelDrawer]="rightDrawer" *ngSwitchCase="noctuaFormService.panel.connectorForm.id">
        </noc-annoton-connector>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
