<form novalidate class="pl-8 pr-8 w-100-p" fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field appearance="outline" class="noc-sm w-100-p">
    <mat-label>Evidence</mat-label>
    <textarea type="text" matInput [matAutocomplete]="evidenceAuto" rows="2"></textarea>
    <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn" class="noc-term-autocomplete">
      <mat-option *ngFor="let item of entity?.predicate?.evidence[i]?.evidenceLookup.results" [value]="item">
        <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-term-label">
            {{ item.label }}
          </div>
          <span fxFlex></span>
          <div class="noc-term-id">
            {{ item.id }}
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-icon-button (click)="cancel()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button (click)="onSubmitEvidedenceDb(evidence, name)">
    <mat-icon>check_circle</mat-icon>
  </button>
</form>
