<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <div class="noc-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <button mat-icon-button color="primary" class="noc-rounded-button"
      (click)="toggleLeftDrawer(reviewService.leftPanel.search)" matTooltip="Search" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <mat-icon> search </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button"
      (click)="toggleLeftDrawer(reviewService.leftPanel.filter)" matTooltip="Filter" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <mat-icon> filter_list </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(reviewService.leftPanel.group)" matTooltip="Search by group" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1000">
      <mat-icon> people_outline </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(reviewService.leftPanel.contributor)" matTooltip="Search by contributor"
      [matTooltipPosition]="'after'" [matTooltipShowDelay]="1000">
      <mat-icon>person_outline</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(reviewService.leftPanel.species)" matTooltip="Search by species" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1000">
      <mat-icon> pets </mat-icon>
    </button>
  </div>
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" autosize>
    <mat-drawer #leftDrawer class="noc-left-drawer" mode="side" position="start">
      <div [ngSwitch]="reviewService.selectedLeftPanel.id" class="h-100-p">
        <noc-review-search *ngSwitchCase="reviewService.leftPanel.search.id"></noc-review-search>
        <noc-review-filter *ngSwitchCase="reviewService.leftPanel.filter.id"></noc-review-filter>
        <noc-review-groups *ngSwitchCase="reviewService.leftPanel.group.id"></noc-review-groups>
        <noc-review-contributors *ngSwitchCase="reviewService.leftPanel.contributor.id"></noc-review-contributors>
        <noc-review-organisms *ngSwitchCase="reviewService.leftPanel.species.id"></noc-review-organisms>
      </div>
    </mat-drawer>
    <mat-drawer-content class="noc-section-body w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-summary-bar" [ngClass]="{'noc-expanded': summary.expanded}" fxLayout="column"
        fxLayoutAlign="start stretch">
        <div class="noc-cams-table-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="50px" (click)="$event.stopPropagation()">
            <button mat-icon-button (click)="toggleSummaryExpand()" class="">
              <mat-icon *ngIf="!summary.expanded" class="s-32">
                arrow_right
              </mat-icon>
              <mat-icon *ngIf="summary.expanded" class="s-12 mat-icon-rtl-mirror">
                signal_cellular_4_bar
              </mat-icon>
            </button>
          </div>
          <span fxFlex=""></span>
          <div class="" fxFlex="150px" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="refresh()" class="noc-bl">
              <mat-icon class="">
                refresh
              </mat-icon>
            </button>
            <button mat-icon-button (click)="toggleSummaryExpand()" class="noc-bl">
              <mat-icon *ngIf="!summary.expanded" class="">
                keyboard_arrow_down
              </mat-icon>
              <mat-icon *ngIf="summary.expanded" class="">
                keyboard_arrow_up
              </mat-icon>
            </button>
          </div>
        </div>
        <div class="noc-cam-table-body p-8 w-100-p" fxLayout="column" fxLayoutAlign="start">
          <div class="pt-16 pb-16" *ngFor="let summaryDetail of summary.detail | keyvalue" fxLayout="row"
            fxLayoutAlign="start center">
            <mat-chip *ngIf="noctuaSearchService.searchCriteria.gp" [removable]="true"
              (removed)="noctuaSearchService.removeFilter(noctuaSearchService.filterType.gp)">
              <strong>GP</strong>: {{ noctuaSearchService.searchCriteria.gp.label}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="noctuaSearchService.searchCriteria.goTerm" [removable]="true"
              (removed)="noctuaSearchService.removeFilter(noctuaSearchService.filterType.goTerm)">
              <strong>GO</strong>: {{ noctuaSearchService.searchCriteria.goTerm.label}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="noctuaSearchService.searchCriteria.pmid" [removable]="true"
              (removed)="noctuaSearchService.removeFilter(noctuaSearchService.filterType.pmid)">
              <strong>PMID</strong>: {{ noctuaSearchService.searchCriteria.pmid}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="noctuaSearchService.searchCriteria.contributor" [removable]="true"
              (removed)="noctuaSearchService.removeFilter(noctuaSearchService.filterType.contributor)">
              <mat-icon>person_outline</mat-icon> {{ noctuaSearchService.searchCriteria.contributor.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="noctuaSearchService.searchCriteria.group" [removable]="true"
              (removed)="noctuaSearchService.removeFilter(noctuaSearchService.filterType.group)">
              <mat-icon>people_outline</mat-icon> {{ noctuaSearchService.searchCriteria.group.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="noctuaSearchService.searchCriteria.organism" [removable]="true"
              (removed)="noctuaSearchService.removeFilter(noctuaSearchService.filterType.organism)">
              <mat-icon> pets </mat-icon> {{ noctuaSearchService.searchCriteria.organism.taxonName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </div>
        </div>
      </div>
      <div class="w-100-p" fxFlex noctuaPerfectScrollbar>
        <noc-cams-table></noc-cams-table>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="noc-right-drawer" noctuaPerfectScrollbar mode="side" position="end">
      <div [ngSwitch]="noctuaFormService.selectedRightPanel.id" class="h-100-p">
        <noc-cam-form [panelDrawer]="rightDrawer" *ngSwitchCase="noctuaFormService.panel.camForm.id">
        </noc-cam-form>
        <noc-annoton-form [panelDrawer]="rightDrawer" *ngSwitchCase="noctuaFormService.panel.annotonForm.id">
        </noc-annoton-form>
        <noc-annoton-entity-form [panelDrawer]="rightDrawer"
          *ngSwitchCase="noctuaFormService.panel.annotonEntityForm.id"></noc-annoton-entity-form>
        <noc-annoton-connector [panelDrawer]="rightDrawer" *ngSwitchCase="noctuaFormService.panel.connectorForm.id">
        </noc-annoton-connector>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
