<div fxLayout="column" fxLayoutAlign="start stretch" class="noc-cams noc-drawer h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Annotation Review Tool</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body w-100-p" noctuaPerfectScrollbar>

    <div *ngIf="!noctuaUserService.user" class="noc-draw-body-disabled" fxLayoutAlign="center center">
      Log in to Continue
    </div>
    <ng-container [ngSwitch]="searchFormType">
      <div *ngSwitchCase="'quick'">
        <div class="noc-table-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="noc-section-body pt-8" fxLayout="row" fxLayoutAlign="start stretch">
            <div class="noc-annoton-group-row" fxLayout="column">
              <mat-form-field appearance="outline" class="noc-sm">
                <mat-label>Category</mat-label>
                <mat-select placeholder="" [compareWith]="compareCategory">
                  <mat-option *ngFor="let category of categories.options" [value]="category">
                    {{category.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="noc-annoton-group-row" fxLayout="column">
              <mat-form-field appearance="outline" class="noc-sm">
                <mat-label>Find What</mat-label>
                <textarea type="text" matInput formControlName="findWhat" [matAutocomplete]="termsAuto" rows="2"
                  placeholder="e.g. lipid transport activity"></textarea>
              </mat-form-field>
            </div>
            <div class="noc-annoton-group-row" fxLayout="column">
              <mat-form-field appearance="outline" class="noc-sm">
                <mat-label>Replace WIth</mat-label>
                <textarea type="text" matInput formControlName="replaceWith" [matAutocomplete]="termsAuto"
                  placeholder="e.g., lipid binding" rows="2"></textarea>
              </mat-form-field>
            </div>
            <div class="noc-annoton-group-row" fxLayout="column">
              <button (click)="findWhat()" mat-stroked-button color="mr-8" class="noc-rounded-button mr-8">
                Find Next
              </button>
              <button mat-stroked-button color="" class="noc-rounded-button mr-8">
                Replace All
              </button>
            </div>
          </div>
        </div>
        <button mat-menu-item class="" (click)="selectSearchFormType('advanced')">
          Advanced Search
        </button>
      </div>
      <div *ngSwitchCase="'advanced'">
        <button mat-menu-item class="" (click)="selectSearchFormType('quick')">
          Quick Search
        </button>
        <noc-annoton-search-form></noc-annoton-search-form>
        <h2>
          Replace With
        </h2>
        <noc-annoton-search-form></noc-annoton-search-form>
      </div>
    </ng-container>
    <div *ngFor="let cam of cams" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-cam-heading" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center"
        [@animateStagger]="{value:'50'}">
        <div *ngIf="cam.title" class="noc-title" fxLayout="row" fxLayoutAlign="start center">
          <div class="text-truncate pr-8">
            <strong>Title: </strong>{{cam.title }}
          </div>
          <div class="noc-icon-action" (click)="openCamForm()">
            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
          </div>
        </div>
        <div fxFlex></div>
        <button mat-icon-button class="" fxFlex="40px" color="primary" [matMenuTriggerFor]="activityOptionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #activityOptionMenu="matMenu" class="noc-dropdown-menu">
          <button mat-menu-item class="" (click)="viewAsModel(cam)">
            View Whole Model
          </button>
          <button mat-menu-item class="" (click)="viewAsActivities(cam)">
            Only Matched Activities
          </button>
          <button mat-menu-item class="" (click)="cam.expandAllAnnotons(true)">
            Expand All
          </button>
          <button mat-menu-item class="" (click)="cam.expandAllAnnotons(false)">
            Collapse All
          </button>
        </mat-menu>
      </div>
      <noc-cam-table [cam]="cam" [options]="tableOptions"></noc-cam-table>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <span fxFlex></span>
    <button (click)="save()" type="submit" class="noc-rounded-button" mat-raised-button color="primary">Save</button>
  </div>
</div>
