<mat-toolbar class="" fxLayout="row" fxLayoutAlign="start center">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div class="noc-br" fxLayout="row" fxLayoutAlign="start center" fxFlex="220px">
    <button mat-icon-button [matMenuTriggerFor]="changeView" class="">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #changeView="matMenu">
      <button class="noc-create-button" (click)="createModel()" mat-menu-item>
        Create New Model
      </button>
      <a *ngFor="let workbench of cam?.model?.modelInfo?.workbenches" href="{{workbench.url}}" target="_blank"
        mat-menu-item>
        {{workbench.label}}
      </a>
    </mat-menu>
    <div fxLayoutAlign="center center" class="noc-logo-filler">
      <button mat-icon-button target="_blank">
        <img src="assets/images/logos/go-logo.png">
      </button>
    </div>
    <div class="noc-logo" fxLayout="row" fxLayoutAlign="start">
      <a class="noc-main-logo" target="_blank">
        Noctua
      </a>
      <a class="noc-sub-logo" target="_blank">
        Form
      </a>
    </div>
  </div>
  <div class="noc-title mr-12" fxLayout="row" fxLayoutAlign="start center">
    <button mat-flat-button (click)="openAnnotonForm(AnnotonType.default)" color="primary"
      class="noc-rounded-button noc-half-button noc-r noc-sm">
      <mat-icon class=""> add </mat-icon> Create Activity
    </button>
    <button mat-flat-button fxFlex="35px" [matMenuTriggerFor]="createOptions" color="primary"
      class="noc-rounded-button noc-half-button noc-l noc-sm mr-8 p-0">
      <mat-icon class=""> arrow_drop_down </mat-icon>
    </button>
    <mat-menu #createOptions="matMenu" xPosition="before">
      <a mat-menu-item (click)="openAnnotonForm(AnnotonType.default)">
        Create New Activity Unit
      </a>
      <a mat-menu-item (click)="openAnnotonForm(AnnotonType.bpOnly)">
        Create New BP Annotation
      </a>
      <a mat-menu-item (click)="openAnnotonForm(AnnotonType.ccOnly)">
        Create New CC Annotation
      </a>
    </mat-menu>
  </div>
  <span fxFlex=""></span>
  <div *ngIf="!noctuaUserService.user" fxLayout="row" fxLayoutAlign="end center" fxFlex="250px">
    <a mat-button href="{{loginUrl}}">
      Login
    </a>
  </div>
  <div *ngIf="noctuaUserService.user" fxLayout="row" fxLayoutAlign="end center" fxFlex="250px">
    <button mat-button class="noc-name-button">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-info" fxLayout="column" fxLayoutAlign="start start">
          <div class="noc-name text-truncate">
            {{noctuaUserService.user.name}}
          </div>
          <div class="noc-group-name text-truncate">
            {{noctuaUserService.user?.group?.label}}
          </div>
        </div>
        <b class="caret"></b>
      </div>
    </button>
  </div>
</mat-toolbar>
