@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat-elevation(4);

  .noc-connector-form {
    width: 600px;
    background-color: #FFF;
  }

  .noc-annoton-list {
    width: 600px;

    .noc-annoton-connector-box {
      margin-bottom: 12px;
      width: 100%;
      padding: 12px;
      //box-shadow: 0 1px 40px 0 #B0C1D9;
      @include mat-elevation(2);
      z-index: 4;
      border: 1px solid #2e6f9a;
      background-color: white;
      font-size: 14px;

      .noc-annoton-header {
        padding: 12px 0;
        font-size: 14px;
      }

      &.noc-sm {
        width: 200px;
        height: 100px;
        font-size: 12px;
      }

      .noc-form-section {
        background-color: transparent;

        .noc-section-header {
          height: 40px;
          background-color: transparent;

          .noc-section-heading {
            padding-left: 12px;
            font-size: 16px;
            text-transform: uppercase;
            // line-height: 30px;
            color: map-get($primary, default);
            ;
          }
        }
      }
    }
  }

  .noc-connector-form-notes {
    width: 400px;
    background-color: rgba($noc-primary-color-lighter, 0.6);

    .noc-form-section {
      background-color: transparent;

      .noc-section-header {
        height: 50px;
        background-color: transparent;

        .noc-section-heading {
          padding-left: 12px;
          font-size: 20px;
          // line-height: 30px;
          color: #555;
        }
      }

      .noc-action-button {
        margin: 0px;
        height: 30px; // line-height: 36px;
      }
    }
  }

  .noc-annoton-box {
    width: 250px;
    height: 100px;
    padding: 12px;
    //box-shadow: 0 1px 40px 0 #B0C1D9;
    @include mat-elevation(2);
    text-align: center;
    z-index: 4;
    border: 1px solid #2e6f9a;
    border-radius: 8px;
    opacity: 1;
    cursor: move;
    background-color: white;
    font-size: 12px;

    &.noc-sm {
      width: 200px;
      height: 100px;
      font-size: 12px;
    }
  }

  .noc-header {
    @include deep-height(40px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(40px);
      @include deep-width(40px);
      line-height: 40px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }

  .noc-summary-row {
    @include deep-height(150px);
    background-color: #F5F5F5;
    @include mat-elevation(2);
  }
}
